/* desktop view */
@media screen and (min-width: 768px) {

    .main-all {
        max-width: 600px;
        height: 450px;
        flex-direction: row;
    }

    /* set 50% columns */
    .main-one-part,
    .main-second-part {
        width: 50%;
        height: 100%;
    }

    /* change main img to desktop version */
    .main-img {
        background-image: url(./images/image-product-desktop.jpg);
        height: 100%;
    }

    /* change padding and margin */

    .main-second-part {
        padding: 32px;
    }

    .main-sub {
        margin-bottom: 20px;
    }

    .main-main {
        margin-bottom: 24px;
    }

    .main-text {
        margin-bottom: 30px;
    }

    .main-text {
        margin-bottom: 30px;
    }

    .main-prices {
        margin-bottom: 30px;
    }
}